---
export const prerender = true;

import "../../styles/codeblock.css";
import { getCollection, type CollectionEntry } from "astro:content";
import { render } from "astro:content";
import Layout from "../../layouts/layout.astro";
import BlogList from "../../components/blog-list.astro";
import SEO from "../../components/seo.astro";
import BlogHero from "../../components/blog-hero.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: post
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const { Content } = await render(post);

const components = {
  ul: BlogList
};
---

<Layout>
  <SEO
    slot="head"
    description={post.data.description}
    title={post.data.title}
    keywords={post.data.keywords}
    ogImage={`/blog/${post.id}/og.png`}
  />

  <article class="flex flex-col gap-4">
    <BlogHero text={post.data.title} />
    <div
      class="glass-blog-content animate-fade-in-up text-foreground/90 mx-auto max-w-full min-w-[40ch] pb-14 text-base leading-7 text-pretty md:max-w-[80ch] md:text-lg"
      data-blog-content>
      <Content components={components} />
    </div>
  </article>
</Layout>
