---
export const prerender = true;

import "@/styles/codeblock.css";
import "@/styles/blog.css";
import { type CollectionEntry, render } from "astro:content";
import BlogHero from "@components/blog/blog-hero.astro";
import SEO from "@components/seo.astro";
import Layout from "@layouts/layout.astro";
import { getPosts } from "@/utils/get-posts";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await render(post);
const canonicalUrl = post.data.canonicalUrl || `/blog/${post.id}`;
const postUrl = new URL(canonicalUrl, Astro.site).toString();
const breadcrumbs = [
  { name: "Home", url: new URL("/", Astro.site).toString() },
  { name: "Blog", url: new URL("/blog", Astro.site).toString() },
  { name: post.data.title, url: postUrl },
];
---

<Layout>
  <SEO
    slot="head"
    description={post.data.description}
    title={post.data.title}
    keywords={post.data.keywords}
    canonicalUrl={canonicalUrl}
    pubDate={post.data.pubDate.toISOString()}
    updatedDate={post.data.updatedDate?.toISOString()}
    ogImage={`/blog/${post.id}/og.png`}
    category={post.data.tags?.[0]}
    tags={post.data.tags}
    breadcrumbs={breadcrumbs}
  />

  <article class="flex flex-col gap-10 lg:gap-4">
    <BlogHero text={post.data.title} />
    <div
      class="animate-fade-in-up mx-auto max-w-full pb-14 text-base leading-7 text-pretty md:text-lg lg:max-w-[85ch] lg:min-w-[40ch]"
      data-blog-content
    >
      <Content />
    </div>
  </article>
</Layout>
