---
import Layout from "@layouts/layout.astro";
import coincontrol from "@assets/projects/coincontrol.png";
import kanban from "@assets/projects/kanban.png";
import landing from "@assets/projects/landing.png";
import twitchChatBot from "@assets/projects/twitch-chat-bot.png";
import { Picture } from "astro:assets";
import Seo from "@/components/seo.astro";
import ProjectLink from "@/components/projects/project-link.astro";

const projects = [
  {
    title: "CoinControl",
    description:
      "CoinControl to aplikacja do śledzenia budżetu zaprojektowana, aby pomóc użytkownikom monitorować ich dochody i wydatki.",
    demo: "https://coincontrol.maciej-garncarski.pl",
    github: "https://github.com/MaciejGarncarski/coin-control",
    tags: ["React", "Tailwind CSS", "Zustand", "Express", "BullMQ", "Prisma"],
    image: coincontrol
  },
  {
    title: "Kanban",
    description:
      "Aplikacja Kanban stworzona w NestJS z zastosowaniem wzorców CQRS, Domain-Driven Design (DDD) oraz architektury hexagonalnej.",
    demo: "https://kanban.maciej-garncarski.pl",
    github: "https://github.com/MaciejGarncarski/kanban",
    tags: ["Next.js", "NestJS", "Drizzle ORM", "Mantine UI", "JWT"],
    image: kanban
  },
  {
    title: "Twitch Chat Bot",
    description:
      "Bot na platformę Twitch, którego głównym zadaniem jest obsługa systemu song request. Projekt charakteryzuje się modułową budową, co umożliwia bezproblemowe implementowanie kolejnych funkcjonalności.",
    github: "https://github.com/MaciejGarncarski/twitch-chat-bot",
    demo: "https://bot.maciej-garncarski.pl/",
    tags: ["Bun", "Elysia", "React", "WebSocket"],
    image: twitchChatBot
  },
  {
    title: "Professional Landing Page",
    description:
      "Profesjonalna strona docelowa dla firmy, zaprojektowana w celu skutecznego prezentowania usług i przyciągania klientów.",
    demo: "https://professional-landing-nextjs.vercel.app/",
    github: "https://github.com/MaciejGarncarski/professional-landing-nextjs",
    tags: ["Next.js", "Tailwind CSS", "Motion"],
    image: landing
  }
];

const seoData = {
  title: "Projekty",
  description:
    "Przeglądaj moje najciekawsze projekty programistyczne, które pokazują moje umiejętności i pasję do tworzenia innowacyjnych rozwiązań.",
  keywords: ["projekty", "portfolio", "development", "software", "programming"]
};
---

<Layout>
  <Seo
    slot="head"
    description={seoData.description}
    title={seoData.title}
    keywords={seoData.keywords}
  />

  <h1
    class="text-foreground mx-auto w-full max-w-[50rem] text-2xl font-semibold">
    Moje najciekawsze projekty
  </h1>

  <ul class="mx-auto grid max-w-[50rem] gap-12">
    {
      projects.map((project) => {
        return (
          <li class="h-full">
            <article class="border-border bg-background-secondary flex h-full flex-col gap-8 rounded-lg border p-4">
              <header class="aling-center z-40 flex items-start justify-between text-base">
                <h2 class="text-2xl font-semibold text-pretty">
                  {project.title}
                </h2>
              </header>
              <div class="flex h-full flex-col gap-4">
                {project.image ? (
                  <Picture
                    formats={["webp"]}
                    layout="full-width"
                    src={project.image}
                    alt={project.title}
                    class="border-foreground/10 mx-auto w-auto grow rounded-md border object-contain lg:min-h-90 lg:shadow"
                  />
                ) : (
                  <div class="border-foreground/10 bg-background/20 mx-auto flex h-40 w-full grow items-center justify-center rounded-md border text-center md:h-72 lg:shadow">
                    <p>Brak podglądu</p>
                  </div>
                )}
                <div class="flex flex-wrap gap-2" role="list">
                  {project.tags.map((tag) => (
                    <span
                      role="listitem"
                      class="border-accent/10 bg-accent/40 hover:bg-accent/60 text-foreground inline-flex cursor-pointer items-center justify-center rounded-md px-3 py-1 text-sm font-semibold transition-colors duration-200 md:text-base">
                      {tag}
                    </span>
                  ))}
                </div>
                <p class="text-foreground-body min-h-16 text-left text-base">
                  {project.description}
                </p>
                <div class="mt-auto flex gap-4 font-semibold md:gap-6">
                  {project.demo ? (
                    <ProjectLink link={project.demo} type="demo" />
                  ) : null}
                  <ProjectLink link={project.github} type="repo" />
                </div>
              </div>
            </article>
          </li>
        );
      })
    }
  </ul>
</Layout>
