---
import Layout from "../layouts/layout.astro";
import photoapp from "../assets/projects/photoapp.png";
import coincontrol from "../assets/projects/coincontrol.png";
import fetcher from "../assets/projects/fetcher.png";
import githubActionsWidget from "../assets/projects/github-actions-widget.png";
import { Picture } from "astro:assets";

const projects = [
  {
    title: "CoinControl",
    description:
      "CoinControl to aplikacja do śledzenia budżetu zaprojektowana, aby pomóc użytkownikom monitorować ich dochody i wydatki. Odpowiada na powszechny problem braku kontroli nad finansami osobistymi, dostarczając narzędzia do efektywnego zarządzania pieniędzmi.",
    demo: "http://coincontrol.maciej-garncarski.pl",
    github: "https://github.com/MaciejGarncarski/coin-control",
    tags: ["React", "Tailwind CSS", "Zustand", "Express", "BullMQ", "Prisma"],
    image: coincontrol
  },
  {
    title: "GitHub Actions Widget",
    description:
      "Widget do wyświetlania GitHub Actions w jednym miejscu. Stworzyłem tę aplikację, ponieważ GitHub działa tak wolno, że nie mogłem tego znieść.",
    demo: "https://github-actions-widget.vercel.app/",
    github: "https://github.com/maciejgarncarski/github-actions-widget",
    tags: ["React", "Next.js", "Tailwind CSS", "REST"],
    image: githubActionsWidget
  },
  {
    title: "Fetcher",
    description:
      "Fetcher to lekka, typowana nakładka na fetch, zaprojektowana z myślą o prostocie i bezpieczeństwie. Ułatwia pisanie przejrzystych zapytań HTTP z walidacją odpowiedzi. Sprawdza się zarówno w aplikacjach frontendowych, jak i backendowych.",
    github: "https://github.com/MaciejGarncarski/fetcher",
    tags: ["TypeScript", "Zod", "HTTP", "REST"],
    image: fetcher
  },
  {
    title: "Photo App",
    description:
      "PhotoApp to aplikacja społecznościowa inspirowana Instagramem. Użytkownicy mogą tworzyć posty, lajkować je i dodawać do nich komentarze. Aplikacja posiada funkcję czatu, która do komunikacji wykorzystuje WebSocket.",
    github: "https://github.com/MaciejGarncarski/photo-app",
    tags: ["Next.js", "React", "Fastify", "Prisma", "Socket.IO", "PostgreSQL"],
    image: photoapp
  }
];
---

<Layout>
  <h1
    class="text-foreground text-left text-2xl font-bold text-balance lg:text-3xl">
    Moje najciekawsze projekty
  </h1>
  <ul class="grid gap-6 lg:grid-cols-2">
    {
      projects.map((project) => {
        return (
          <li class="h-full">
            <article class="glass flex h-full flex-col gap-8">
              <header class="aling-center z-40 flex items-start justify-between text-base">
                <h2 class="text-2xl font-semibold text-pretty">
                  {project.title}
                </h2>
              </header>
              <div class="flex flex-wrap gap-2">
                {project.tags.map((tag) => {
                  return (
                    <span class="bg-foreground text-background rounded-md px-2 py-1 text-sm font-semibold text-pretty md:text-base">
                      {tag}
                    </span>
                  );
                })}
              </div>
              <div class="flex h-full flex-col gap-4">
                {project.image ? (
                  <Picture
                    src={project.image}
                    width={1024}
                    height={1024}
                    alt={project.title}
                    class="border-foreground/10 mx-auto h-40 w-full grow rounded-md border object-cover md:h-74 lg:shadow"
                  />
                ) : (
                  <div class="border-foreground/10 bg-background/30 mx-auto flex h-40 w-full grow items-center justify-center rounded-md border text-center md:h-72 lg:shadow">
                    <p>Brak podglądu.</p>
                  </div>
                )}
                <p class="text-foreground/80 min-h-24 text-left text-base">
                  {project.description}
                </p>
                <div class="mt-auto flex gap-4 font-semibold md:gap-8 md:text-lg">
                  {project.demo ? (
                    <a
                      href={project.demo}
                      class="border-foreground/10 bg-background/30 inline-block rounded-md border px-4 py-1 text-pretty"
                      target="_blank">
                      Zobacz demo
                    </a>
                  ) : null}
                  <a
                    href={project.github}
                    class="border-foreground/10 bg-background/30 inline-block rounded-md border px-4 py-1 text-pretty"
                    target="_blank">
                    Kod źródłowy
                  </a>
                </div>
              </div>
            </article>
          </li>
        );
      })
    }
  </ul>
</Layout>
