---
import Layout from "../layouts/layout.astro";
import coincontrol from "../assets/projects/coincontrol.png";
import kanban from "../assets/projects/kanban.png";
import landing from "../assets/projects/landing.png";
import twitchChatBot from "../assets/projects/twitch-chat-bot.jpg";
import { Picture } from "astro:assets";

const projects = [
  {
    title: "CoinControl",
    description:
      "CoinControl to aplikacja do śledzenia budżetu zaprojektowana, aby pomóc użytkownikom monitorować ich dochody i wydatki.",
    demo: "https://coincontrol.maciej-garncarski.pl",
    github: "https://github.com/MaciejGarncarski/coin-control",
    tags: ["React", "Tailwind CSS", "Zustand", "Express", "BullMQ", "Prisma"],
    image: coincontrol
  },
  {
    title: "Kanban",
    description:
      "Aplikacja Kanban stworzona w NestJS z zastosowaniem wzorców CQRS, Domain-Driven Design (DDD) oraz architektury hexagonalnej.",
    demo: "https://kanban.maciej-garncarski.pl",
    github: "https://github.com/MaciejGarncarski/kanban",
    tags: ["Next.js", "NestJS", "Drizzle ORM", "Mantine UI", "JWT"],
    image: kanban
  },
  {
    title: "Twitch Chat Bot",
    description:
      "Bot na platformę Twitch, którego głównym zadaniem jest obsługa systemu song request. Projekt charakteryzuje się modułową budową, co umożliwia bezproblemowe implementowanie kolejnych funkcjonalności.",
    github: "https://github.com/MaciejGarncarski/twitch-chat-bot",
    tags: ["Bun", "Elysia", "React", "WebSocket"],
    image: twitchChatBot
  },
  {
    title: "Professional Landing Page",
    description:
      "Profesjonalna strona docelowa dla firmy, zaprojektowana w celu skutecznego prezentowania usług i przyciągania klientów.",
    demo: "https://professional-landing-nextjs.vercel.app/",
    github: "https://github.com/MaciejGarncarski/professional-landing-nextjs",
    tags: ["Next.js", "Tailwind CSS", "Motion"],
    image: landing
  }
];
---

<Layout>
  <h1
    class="text-foreground text-left text-2xl font-bold text-balance lg:text-3xl">
    Moje najciekawsze projekty
  </h1>
  <ul class="grid gap-12 lg:grid-cols-2">
    {
      projects.map((project) => {
        return (
          <li class="h-full">
            <article class="glass flex h-full flex-col gap-8">
              <header class="aling-center z-40 flex items-start justify-between text-base">
                <h2 class="text-2xl font-semibold text-pretty">
                  {project.title}
                </h2>
              </header>
              <div class="flex flex-wrap gap-2">
                {project.tags.map((tag) => {
                  return (
                    <span class="bg-foreground text-background rounded-md px-2 py-1 text-sm font-semibold text-pretty md:text-base">
                      {tag}
                    </span>
                  );
                })}
              </div>
              <div class="flex h-full flex-col gap-4">
                {project.image ? (
                  <Picture
                    formats={["avif", "webp"]}
                    layout="full-width"
                    src={project.image}
                    alt={project.title}
                    class="border-foreground/10 mx-auto w-auto grow rounded-md border object-contain lg:shadow"
                  />
                ) : (
                  <div class="border-foreground/10 bg-background/20 text-foreground/80 mx-auto flex h-40 w-full grow items-center justify-center rounded-md border text-center md:h-72 lg:shadow">
                    <p>Brak podglądu</p>
                  </div>
                )}
                <p class="text-foreground/85 min-h-16 text-left text-base">
                  {project.description}
                </p>
                <div class="mt-auto flex gap-4 font-semibold md:gap-8 md:text-lg">
                  {project.demo ? (
                    <a
                      href={project.demo}
                      class="border-foreground/8 bg-background/15 inline-block rounded-md border px-4 py-1 text-pretty"
                      target="_blank">
                      Demo
                    </a>
                  ) : null}
                  <a
                    href={project.github}
                    class="border-foreground/8 bg-background/15 inline-block rounded-md border px-4 py-1 text-pretty"
                    target="_blank">
                    GitHub
                  </a>
                </div>
              </div>
            </article>
          </li>
        );
      })
    }
  </ul>
</Layout>
