---
import { Picture } from "astro:assets";
import github from "@assets/github.svg";
import linkedin from "@assets/linkedin.svg";
import xIcon from "@assets/x.svg";
import type { ImageMetadata } from "astro";

type Social = {
   url: string;
   icon: ImageMetadata;
   name: string;
};

const socials: Array<Social> = [
   {
      name: "GitHub",
      icon: github,
      url: "https://github.com/maciejgarncarski",
   },
   {
      name: "LinkedIn",
      icon: linkedin,
      url: "https://www.linkedin.com/in/maciejgarncarski/",
   },
   {
      name: "X",
      icon: xIcon,
      url: "https://x.com/MGarncarski",
   },
];
---

<footer
  class="mx-auto mt-10 flex max-w-[75rem] flex-col items-center justify-between gap-4 md:mt-24 lg:flex-row"
  transition:name="footer">
  <div class="flex w-[15rem] flex-col gap-4">
    <div class="flex justify-center gap-6 md:justify-start">
      {
        socials.map((s) => {
          return (
            <a href={s.url} target="_blank" class="w-fit" title={s.name}>
              <Picture
                src={s.icon}
                alt=""
                width="24"
                height="24"
                class="h-5 lg:h-6 dark:invert-100"
              />
              <span class="sr-only">{s.name}</span>
            </a>
          );
        })
      }
    </div>
    <p class="text-center text-xs lg:text-left">
      Commit: {
        (
          import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "devDEVdevDEVdevDEV"
        ).slice(0, 18)
      }
    </p>
  </div>

  <div class="flex w-[15rem] flex-col gap-4">
    <p class="text-center text-sm lg:ml-auto lg:text-right">
      &copy; 2026 Maciej Garncarski
    </p>
    <p class="text-center text-xs lg:text-right">
      Built with {Astro.generator} 🚀
    </p>
  </div>
</footer>
