---
const defaultTitle = "Maciej Garncarski | Fullstack Developer";
const defaultDescription =
  "Blog o nowoczesnym frontendzie i backendzie. Skalowalne aplikacje, React, Node.js i architektura IT.";

type Props = {
  title?: string;
  description?: string;
  keywords?: Array<string>;
  ogImage?: string;
  pubDate?: string;
};

const {
  description = defaultDescription,
  title,
  keywords,
  ogImage = "/og.png", // Domyślnie relatywna ścieżka do public/og.png
  pubDate
} = Astro.props;

const fullTitle = title ? `${title} | Maciej Garncarski` : defaultTitle;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();

const fullOgImageUrl = new URL(ogImage, Astro.site).toString();

const articleSchema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: title || defaultTitle,
  description: description,
  image: fullOgImageUrl,
  author: {
    "@type": "Person",
    name: "Maciej Garncarski",
    url: "https://maciej-garncarski.pl"
  },
  datePublished: pubDate || new Date().toISOString(),
  publisher: {
    "@type": "Organization",
    name: "Maciej Garncarski",
    logo: {
      "@type": "ImageObject",
      url: "https://maciej-garncarski.pl/favicon.svg"
    }
  },
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": canonicalUrl
  }
};
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords.join(", ")} />}
<link rel="canonical" href={canonicalUrl} />

<meta property="og:type" content={pubDate ? "article" : "website"} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={fullOgImageUrl} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={fullOgImageUrl} />

<script
  type="application/ld+json"
  is:inline
  set:html={JSON.stringify(articleSchema)}
/>
