---
const defaultTitle = "Maciej Garncarski | Fullstack Engineer";
const defaultDescription =
  "Blog o nowoczesnym frontendzie i backendzie. Skalowalne aplikacje, React, Node.js i architektura IT.";

type Props = {
  title?: string;
  description?: string;
  keywords?: Array<string>;
  ogImage?: string;
  pubDate?: string;
  category?: string;
  tags?: Array<string>;
};

const {
  description = defaultDescription,
  title,
  keywords,
  ogImage = "/og.png",
  pubDate,
  category = "Technology",
  tags = []
} = Astro.props;

const fullTitle = title ? `${title} | Maciej Garncarski` : defaultTitle;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();
const fullOgImageUrl = new URL(ogImage, Astro.site).toString();

const formattedDate = pubDate
  ? new Date(pubDate).toISOString()
  : new Date().toISOString();

const articleSchema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: title || defaultTitle,
  description: description,
  image: fullOgImageUrl,
  author: {
    "@type": "Person",
    name: "Maciej Garncarski",
    url: "https://maciej-garncarski.pl"
  },
  datePublished: formattedDate,
  publisher: {
    "@type": "Organization",
    name: "Maciej Garncarski",
    logo: {
      "@type": "ImageObject",
      url: "https://maciej-garncarski.pl/favicon.svg"
    }
  },
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": canonicalUrl
  }
};
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta name="theme-color" content="#f5f9ff" />
{keywords && <meta name="keywords" content={keywords.join(", ")} />}
<link rel="canonical" href={canonicalUrl} />

<meta property="og:type" content={pubDate ? "article" : "website"} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={fullOgImageUrl} />
<meta property="og:site_name" content={"Maciej Garncarski"} />

{
  pubDate && (
    <>
      <meta property="article:published_time" content={formattedDate} />
      <meta property="article:author" content="https://maciej-garncarski.pl" />
      <meta property="article:section" content={category} />
      {tags.map((tag) => (
        <meta property="article:tag" content={tag} />
      ))}
    </>
  )
}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={fullOgImageUrl} />

<script
  type="application/ld+json"
  is:inline
  set:html={JSON.stringify(articleSchema)}
/>
