---
import { Image, Picture } from "astro:assets";
import { fade } from "astro:transitions";
import { calculateReadingTime } from "@utils/calculate-read-time";
import { getPosts } from "@/utils/get-posts";
import { normalizeTag } from "@/utils/normalize-tag";

type Props = {
   text: string;
};

const { text } = Astro.props;

const allBlogPosts = await getPosts();
const currPost = allBlogPosts.find((post) => post.data.title === text);
const readTime = calculateReadingTime(currPost?.body || "");
const words = currPost?.body ? currPost.body.split(/\s+/).length : 0;

const publishDate = new Intl.DateTimeFormat("pl-PL", {
   year: "numeric",
   month: "long",
   day: "numeric",
}).format(currPost?.data.pubDate ? new Date(currPost.data.pubDate) : new Date());

const updateDate = currPost?.data.updatedDate
   ? new Intl.DateTimeFormat("pl-PL", {
        year: "numeric",
        month: "long",
        day: "numeric",
     }).format(new Date(currPost.data.updatedDate))
   : null;

const tags = currPost?.data.tags || [];

const sortedTags = tags.sort((a, b) => a.localeCompare(b, undefined, { sensitivity: "base" }));
---

<header
  class="relative flex min-h-80 flex-col items-center justify-center gap-4 overflow-hidden md:overflow-visible lg:mx-auto lg:h-110 lg:w-3/4">
  {
    currPost?.data.heroImage && (
      <>
        <div
          data-blog-hero-bg
          class="absolute top-0 left-0 -z-10 mx-auto hidden h-full w-full opacity-4 blur-xl md:block md:rounded-4xl md:blur-2xl">
          <div class="absolute top-0 left-0 h-full w-full" />
          <Picture
            formats={["webp"]}
            src={currPost.data.heroImage}
            alt={""}
            width={512}
            height={512}
            class="h-full w-full mask-[url(/mask-test.svg)] mask-luminance mask-cover mask-center object-cover"
            priority={true}
          />
        </div>
        {currPost.id && (
          <Image
            src={currPost.data.heroImage}
            transition:name={`blog-image-${currPost.id}`}
            transition:animate={fade({ duration: "0.3s" })}
            width={512}
            height={512}
            alt={""}
            class="animate-border-shadow z-40 h-32 w-32 overflow-hidden rounded-md object-cover md:h-42 md:w-42"
            priority={true}
          />
        )}
      </>
    )
  }
  <div
    class="z-30 flex flex-col gap-2 text-center text-balance md:gap-3"
    transition:name={`blog-header-${currPost?.id}`}>
    <h1
      class="z-50 max-w-[20rem] px-5 text-center text-xl font-bold md:max-w-full lg:max-w-[35rem] lg:text-2xl">
      {text}
    </h1>
    <p class="flex flex-col gap-1 text-center">
      <span>
        🗓️
        <time
          itemprop="datePublished"
          datetime={new Date(currPost?.data.pubDate || "").toISOString()}
          class="tracking-tighter lg:tracking-tight">
          {publishDate}
        </time>
      </span>
      {
        currPost?.data.updatedDate && (
          <time
            itemprop="dateModified"
            datetime={new Date(currPost.data.updatedDate).toISOString()}
            class="tracking-tighter lg:tracking-tight">
            &#40;aktualizacja: {updateDate}&#41;
          </time>
        )
      }
    </p>
    <p class="flex items-center justify-center gap-2 text-center">
      <span>{readTime} min. czytania</span>
      <span>&#8226;</span>
      <span>{words} słów</span>
    </p>
    {
      sortedTags.length > 0 && (
        <div class="mt-2 flex flex-wrap items-center justify-center gap-2">
          {sortedTags.map((tag) => (
            <a
              href={`/blog/tag/${normalizeTag(tag)}`}
              class="border-accent/7 bg-accent/15 text-foreground/80 hover:bg-accent/30 focus:bg-accent/30 inline-block rounded-full border px-3 py-1 text-sm font-medium transition-colors duration-300">
              # {tag}
            </a>
          ))}
        </div>
      )
    }
  </div>
</header>

<style>
  @keyframes blog-hero-bg-fade-in {
    0% {
      opacity: 0;
      transform: scale(0.9) translateY(2rem);
    }

    100% {
      opacity: 0.15;
      transform: scale(1);
    }
  }

  [data-blog-hero-bg] {
    animation: blog-hero-bg-fade-in 1.5s ease-out forwards;
    animation-delay: 0.1s;
  }

  @media (prefers-reduced-motion: reduce) {
    [data-blog-hero-bg] {
      animation: none;
      opacity: 0.07;
      transform: scale(1);
    }
  }
</style>
