---
import ChevronIcon from "@/components/ui/chevron-icon.astro";

type Props = {
  post: {
    id: string;
    data: {
      title: string;
      description: string;
      pubDate: Date;
      updatedDate?: Date;
    };
  };
  formattedTime: string;
};

const { post, formattedTime } = Astro.props;
---

<a href={"/blog/" + post.id} class="group block">
  <article
    transition:name={`blog-header-${post.id}`}
    class="border-border bg-background-secondary/50 md:bg-background-secondary/30 md:border-border/70 md:backdrop-blur-sm flex flex-col overflow-hidden rounded-xl border shadow-xs transition-shadow md:items-center md:flex-row md:gap-8"
  >
    <div class="flex flex-col gap-1.5 px-4 py-3.5 md:p-6">
      <p class="text-foreground-secondary text-xs md:order-2 md:text-sm">
        <time datetime={formattedTime}>{formattedTime}</time>
      </p>
      <h2
        class="text-base font-semibold text-pretty group-hover:text-accent transition-colors md:order-1 md:text-lg"
      >
        {post.data.title}
      </h2>
      <p
        class="text-foreground-secondary max-w-prose text-sm leading-relaxed line-clamp-2 text-pretty md:order-3"
      >
        {post.data.description}
      </p>
    </div>

    <ChevronIcon
      size={24}
      direction="right"
      customStyles="hidden lg:block ml-auto mr-8 mt-1 shrink-0 text-foreground-secondary transition-transform group-hover:translate-x-1"
    />
  </article>
</a>
