---
export const prerender = true;

import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import type { InferEntrySchema } from "astro:content";
import Layout from "../../../layouts/layout.astro";
import clsx from "clsx";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    const tags = new Set<string>();

    posts.forEach((post) => {
        post.data.tags.forEach((tag) => tags.add(tag));
    });

    return Array.from(tags).map((tag) => ({
        params: { tag },
        props: { tag }
    }));
}

const { tag } = Astro.params;

const posts = (await getCollection("blog")).sort((a, b) => {
    const getTime = (post: { data: InferEntrySchema<"blog"> }) => {
        return post.data.updatedDate
            ? new Date(post.data.updatedDate).getTime()
            : post.data.pubDate
              ? new Date(post.data.pubDate).getTime()
              : 0;
    };

    return getTime(b) - getTime(a);
});

const allTags = new Set<string>();

posts.forEach((post) => {
    post.data.tags.forEach((tag) => allTags.add(tag));
});

const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
---

<Layout>
    <div class="mx-auto flex w-full flex-col gap-8 pb-8 md:max-w-3xl md:gap-12">
        <ul class="flex flex-wrap gap-3">
            <li>
                <a
                    href="/blog"
                    class="border-foreground/5 bg-foreground/5 text-foreground/80 hover:bg-foreground/10 focus:bg-foreground/10 inline-block rounded-full border px-3 py-1 text-sm font-medium transition-colors duration-300">
                    Wszystkie
                </a>
            </li>
            {
                Array.from(allTags).map((tag) => {
                    const isActive = tag === Astro.params.tag;
                    return (
                        <li>
                            <a
                                href={isActive ? "/blog" : "/blog/tags/" + tag}
                                class={
                                    clsx(
                                        isActive
                                            ? "border-foreground/10 bg-foreground/15 text-foreground"
                                            : "border-foreground/5 bg-foreground/5 text-foreground/80 hover:bg-foreground/10 focus:bg-foreground/10"
                                    ) +
                                    " inline-block rounded-full border px-3 py-1 text-sm font-medium transition-colors duration-300"
                                }>
                                # {tag}
                            </a>
                        </li>
                    );
                })
            }
        </ul>
        <div class="grid gap-8">
            {
                filteredPosts.map((post) => {
                    const formattedTime = new Intl.DateTimeFormat("pl-PL", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    }).format(
                        post.data.pubDate
                            ? new Date(post.data.pubDate)
                            : new Date()
                    );

                    return (
                        <a
                            href={"/blog/" + post.id}
                            transition:name={`blog-header-${post.id}`}
                            class="inline-block h-full transition-transform duration-300 lg:hover:scale-[0.99] lg:focus:scale-[0.98]">
                            <article class="glass relative flex h-full min-h-42 flex-row items-center justify-between gap-4 overflow-hidden md:gap-8">
                                <header class="flex flex-col gap-2">
                                    <h2 class="text-foreground z-20 text-lg font-semibold text-pretty lg:text-xl">
                                        {post.data.title}
                                    </h2>
                                    <p class="text-foreground/85 relative text-base font-semibold lg:text-base">
                                        <time datetime={formattedTime}>
                                            {formattedTime}
                                        </time>
                                    </p>
                                    <p class="text-foreground/80 z-20 text-base text-pretty lg:max-w-[28rem]">
                                        {post.data.description}
                                    </p>
                                </header>

                                <div class="hidden shrink-0 lg:flex lg:items-center">
                                    <Picture
                                        formats={["avif", "webp"]}
                                        transition:name={`blog-image-${post.id}`}
                                        src={post.data.heroImage}
                                        width={256}
                                        height={256}
                                        alt={post.data.title}
                                        class="border-foreground/10 h-24 w-24 rounded-lg border lg:h-32 lg:w-32"
                                    />
                                </div>
                            </article>
                        </a>
                    );
                })
            }
        </div>
    </div>
</Layout>
